.DetailContent{
    padding: 3%;
    color: black;
    .PodName{
        font-size: 40px;
        font-weight: bold;
        // height: auto;
    }
    hr{
        margin: 20px 0px;
    }
    .BookName{
        font-size: 20px;
    }
    .Date{
        font-size: 20px;
    }
    .Status{
        font-size: 20px;
        font-weight: bold;
    }
    .StatusCancelled{
        color: red;
    }
    .StatusPaid{
        color: green;
    }
    .StatusPending{
        color: rgb(148, 148, 0);
    }
    .Price{
        font-size: 20px;
    }
}